* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.timkiem {
  width: 75%;
}
@media (min-width: 992px) {
  .timkiem {
    width: auto;
  }
}

.fame_tieude {
  margin-inline: 150px;
}
@media (max-width: 992px) {
  .fame_tieude {
    margin: 0px;
  }
}
.fame_ket {
  margin-inline: 150px;
}
@media (max-width: 992px) {
  .fame_ket {
    margin: 0px;
  }
}
.sub {
  margin-inline: 40px;
}

@media (min-width: 992px) {
  .sub {
    margin-inline: 450px;
  }
}

.pass {
  outline: none;
  border: none;
  margin-block: 4px;
  border-radius: 19px;
  height: 2.5rem;
}

.input-box {
  position: relative;
  display: flex;
  margin: 15px 0px;
  height: 50px;
}
.input-box input {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(120, 120, 120, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: rgb(129, 129, 129);
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.nho-pass {
  margin: -15px 10px 0px 10px;
}
.nho-pass label input {
  accent-color: rgb(177, 177, 177);
  margin-right: 5px;
}
.input-box select {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(120, 120, 120, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.input-select {
  position: relative;
  height: 3rem;
  padding: 0px;
  margin: 15px 0px;
}
.input-select select {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  border: 2px solid rgba(120, 120, 120, 0.2);
  border-radius: 40px;
  padding: 0px 0px 0px 20px;
  appearance: none;
  color: rgb(131, 131, 131);
}
.input-select select option {
  border: none;
  outline: none;
}
.input-select i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
