.timkiem {
  width: 75%;
}
@media (min-width: 992px) {
  .timkiem {
    width: auto;
  }
}

.fame_tieude {
  margin-inline: 150px;
}
@media (max-width: 992px) {
  .fame_tieude {
    margin: 0px;
  }
}
